.classpath
.project
.settings/
*.rptconfig
target/
null/
*.nblh~
*~
*.swp
.idea/
*.iml
*.eml
dependency-reduced-pom.xml
.sonatype


# ignore node.js package manager (npm) downloaded content
*/node_modules/*
