{
  "extends": ["../lib/.eslintrc"],
  "globals": {
    "require": true,
    "document": true
  },
  "env": {
    "jest": true
  },
  "rules": {
    "@typescript-eslint/no-var-requires": "off",
    "react/prop-types": "off"
  },
  "overrides": [
    {
      "files": ["*.tsx", "*.js", "*.ts"],
      "env": {
        "jest": true,
        "node": true
      }
    }
  ]
}
