/node_modules
/dist

\.idea/

\.DS_Store

npm-debug.log
junit.xml

# Yarn 2+ recommended ignores (non-zero-installs)
.pnp.*
.yarn/*
!.yarn/patches
!.yarn/plugins
!.yarn/releases
!.yarn/sdks
!.yarn/versions
