.nx-gallery-page-header {

  &__inner {
    align-items: center;
    box-sizing: border-box;
    display: flex;
    gap: var(--nx-spacing-6x);
    margin: 0 auto;
    max-width: var(--nx-width-page-max);
    padding: var(--nx-spacing-4x) var(--nx-spacing-6x);
    width: 100%;
  }

  &__home-link {
    align-items: center;
    border-right: 1px solid var(--nx-swatch-grey-30);
    display: flex;
    padding-right: var(--nx-spacing-6x);
  }

  $-logo-image-size: 38px;

  &__logo-image {
    height: $-logo-image-size;
    margin-right: var(--nx-spacing-4x);
    width: $-logo-image-size;
  }

  &__logotype-image {
    height: $-logo-image-size;
  }

  &__info {
    color: var(--nx-swatch-grey-30);
  }

  &__name {
    font-size: 18px;
    font-weight: 600;
    margin-right: var(--nx-spacing-4x);
    min-width: max-content;
  }

  &__version {
    font-size: 14px;
    font-style: italic;
    font-weight: 500;
    min-width: max-content;
  }
}
